.w3eden{
    font-family: var(--wpdm-font);
    font-size: 9pt;
}
.text-right{
    text-align: right;
}
.w3eden th{
    border-bottom: 0 !important;
}
.w3eden th,
.w3eden td{
    font-size: 9pt;
}
.w3eden .alert.alert-success:before{
    padding-top: 14px;
}
.w3eden h3{
    font-family: var(--wpdm-font);
    margin: 0;
    font-size: 11pt;
}
.w3eden em{
    color: #888;
    margin-bottom: 8px;
}
.w3eden .card,
.w3eden .panel{
    border-radius: 0;
}
.w3eden .info-panel .card-body,
.w3eden .panel.info-panel .panel-body{
    height: 145px;
}
.w3eden .card .card-header,
.w3eden .panel .panel-heading{
    border-radius: 0;
    font-weight: 600 !important;
}
.w3eden .card .panel-header,
.w3eden .panel-default .panel-heading{
    background: #fafafa;
    border-radius: 0;
}
.w3eden h3.invoice-no{
    font-family: Courier, monospace;
    font-size: 14pt;
    font-weight: bold;
    color: #349ADE;
}
.w3eden .frow .card-body,
.w3eden .frow .panel-body{
    height: 50px;
    line-height: 24px;
}
.w3eden .card,
.w3eden .panel{
    margin-bottom: 15px;
}
.w3eden .frow #btn-print{
    margin-top: -5px;
    margin-right: -8px;
}
@media print {
    #btn-print {
        display: none;
    }
}
